
.am-topbar {
  background-color: #595959;
  border-radius: 0;
}

.am-topbar .navbar-brand {
  margin-left: 200px;
}

.am-topbar .logo {
  width: 60px;
}

.am-topbar .header-title {
  color: #FECF2D;
  font-size: 1.8rem;
}

.am-topbar .topbar-title {
  position: relative;
  line-height: 50px;
  padding: 0 10px;
}

.footer {
  background-color: #5A5A5A;
  padding-top: 110px;
  padding-bottom: 120px;
  color: #fff;
  font-size: 13px;
}

.footer .logo-bottom {
  margin-bottom: 70px;
}

@media (max-width: 640px) {

  .footer {
    background-color: #F7F7F7;
    color: #8a8a8a;
    height: auto;
    padding: 65px 20px;
  }

  .footer {
    background-color: #5A5A5A;
    color: #fff;
    font-size: 13px;
  }

  .footer .logo-bottom {
    margin-bottom: 30px;
  }

}
