.newjob {
  margin-top: 50px;
}

.newjob .newjob-header img {
  width: 18px;
}

.newjob .newjob-header span {
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 20px;
}

.newjob .am-panel-bd {
  padding: 0 !important;
}

.newjob .save {
  background-color: #FDC72E;
  color: #fff;
  border-color: #FDC72E;
  border-radius: 5px;
  width: 80px
}

.am-list > li:last-child {
  border-bottom: none !important;
}

.job-attraction {
  margin-top: 20px;
}

.job-attraction .am-badge {
  cursor: pointer;
}

.job-attraction .active {
  background-color: #FDC72E;
}
