<!DOCTYPE html>
<html>
<head lang="zh">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
  <title>查看候选人-挖牛管理系统</title>
  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.0/css/amazeui.min.css">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/header-layout.css">
  <link rel="stylesheet" href="/stylesheets/admin/candidate.css">
</head>
<body>
<% include header-layout %>

<div class="container am-container">
  <section class="am-panel am-panel-default">
    <header class="am-panel-hd">
      <h3 class="am-panel-title"><i class="am-icon-eye"></i> 查看候选人 | 高级软件工程师</h3>
    </header>
    <div class="am-panel-bd">
      <div class="tag">
        <span><i class="am-icon-tag"></i> 年薪: 15-20万</span>
        <span><i class="am-icon-tag"></i> 上海</span>
        <span><i class="am-icon-tag"></i> 经验3-5年</span>
      </div>
      <table class="am-table am-table-hover am-table-centered">
        <thead>
        <tr>
          <th>姓名</th>
          <th>现任职务</th>
          <th>电话</th>
          <th>邮件</th>
          <th>现居地</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>

</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.0/js/amazeui.min.js"></script>
</html>
