<!-- Created by Jason on 16/5/17. -->
<header class="am-topbar am-topbar-inverse">
  <div class="am-container">
    <h1 class="am-topbar-brand">
      <a href="#">
        <img class="logo" alt="Brand" src="http://7xw3ob.com1.z0.glb.clouddn.com/logo2x.png">
      </a>
    </h1>
    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-2">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li class="topbar-title">
          <a href="/admin/waniuadmin">
            <strong>职位管理</strong>
          </a>
        </li>
        <li class="topbar-title">
          <a href="/admin/reportforms">
            <strong>报表</strong>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
