<!DOCTYPE html>
<html>
<head lang="zh">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
  <title>挖牛管理系统</title>
  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.0/css/amazeui.min.css">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/admin/header-layout.css">
  <link rel="stylesheet" href="/stylesheets/admin/home.css">
  <link rel="stylesheet" href="/javascripts/simditor-2.3.6/styles/simditor.css">
  <style>
    .header {
      text-align: center;
    }

    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }

    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>欢迎登陆挖牛管理系统</h1>
  </div>
  <hr/>
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <form method="post" class="am-form" action="/admin/dologin">
      <label for="nickname">昵称:</label>
      <input type="text" name="nickname" id="nickname" placeholder="请输入昵称">
      <br>
      <label for="password">密码:</label>
      <input type="password" name="pass" id="pass" placeholder="请输入密码">
      <br>
      <br/>
      <div class="am-cf">
        <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
      </div>
    </form>
    <hr>
    <p>© 2016 挖牛</p>
  </div>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.0/js/amazeui.min.js"></script>
</html>
