<!DOCTYPE html>
<html>
<head lang="zh">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
  <title>发布职位 - 挖牛管理系统</title>
  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.0/css/amazeui.min.css">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/header-layout.css">
  <link rel="stylesheet" href="/stylesheets/admin/job.css">
  <link rel="stylesheet" href="/javascripts/simditor-2.3.6/styles/simditor.css">
</head>
<body>
<% include header-layout %>

<div class="am-container newjob">
  <section class="am-panel am-panel-default">
    <header class="am-panel-hd newjob-header">
      <img src="/images/newjob/table2x.png" class="">
      <span>发布新职位</span>
    </header>
    <div class="am-panel-bd">
      <ul class="am-list am-list-static">
        <li class="">
          <div class="am-g">
            <div class="am-u-sm-2">
              <strong>职位名称</strong>
            </div>
            <div class="am-u-sm-10">
              <input id="jobTitle" type="text" class="am-form-field" placeholder="请输入职位名称">
            </div>
          </div>
        </li>
        <li class="">
          <div class="am-g">
            <div class="am-u-sm-2">
              <strong>职位类型</strong>
            </div>
            <div class="am-u-sm-10">
              <form class="am-form">
                <select id="jobType">
                  <% for(var i = 0, len = jobType.length;i < len;i++){ %>
                  <option value="<%= jobType[i]._id %>"><%= jobType[i].name %></option>
                  <% } %>
                </select>
              </form>
            </div>
          </div>
        </li>
        <li class="">
          <div class="am-g">
            <div class="am-u-sm-2">
              <strong>所属行业</strong>
            </div>
            <div class="am-u-sm-10">
              <form class="am-form">
                <select id="industry">
                  <% for(var i = 0, len = industry.length;i < len;i++){ %>
                  <option value="<%= industry[i]._id %>"><%= industry[i].name %></option>
                  <% } %>
                </select>
              </form>
            </div>
          </div>
        </li>
        <li class="">
          <div class="am-g">
            <div class="am-u-sm-2">
              <strong>年薪范围</strong>
            </div>
            <div class="am-u-sm-10">
              <form class="am-form-inline" role="form">
                <div class="am-input-group">
                  <input id="minSalary" type="text" class="am-form-field" placeholder="最低月薪">
                  <span class="am-input-group-label">K</span>
                </div>
                <div class="am-input-group">
                  <input id="maxSalary" type="text" class="am-form-field" placeholder="最高月薪">
                  <span class="am-input-group-label">K</span>
                </div>

                <label>
                  只能输入整数,&nbsp;如:9
                </label>
              </form>
            </div>
          </div>
        </li>
        <li class="">
          <div class="am-g">
            <div class="am-u-sm-2">
              <strong>工作城市</strong>
            </div>
            <div class="am-u-sm-10">
              <input id="city" type="text" class="am-form-field" placeholder="请输入城市名">
            </div>
          </div>
        </li>
        <li class="">
          <div class="am-g">
            <div class="am-u-sm-2">
              <strong>学历要求</strong>
            </div>
            <div class="am-u-sm-10">
              <form class="am-form">
                <select id="degree">
                  <option>大专以上</option>
                  <option>本科</option>
                  <option>硕士研究生</option>
                  <option>博士研究生</option>
                </select>
              </form>
            </div>
          </div>
        </li>
        <li class="">
          <div class="am-g">
            <div class="am-u-sm-2">
              <strong>职位诱惑</strong>
            </div>
            <div class="am-u-sm-10">
              <input id="attraction" type="text" class="am-form-field"
                     placeholder="请选择职位诱惑,英文逗号分隔">
              <div class="job-attraction">
                <span class="am-badge">五险一金</span>
                <span class="am-badge">带薪休假</span>
                <span class="am-badge">扁平管理</span>
                <span class="am-badge">福利好</span>
              </div>
            </div>
          </div>
        </li>
        <li class="">
          <div class="am-g">
            <div class="am-u-sm-2">
              <strong>职位描述</strong>
            </div>
            <div class="am-u-sm-10">
              <textarea id="description" placeholder="请输入岗位职责、任职要求等,建议尽量使用短句并分条列出"></textarea>
            </div>
          </div>
        </li>
        <li class="">
          <div class="am-g">
            <div class="am-u-sm-2">
            </div>
            <div class="am-u-sm-10">
              <button id="saveBtn" type="button" class="am-btn am-btn-default save">
                保存
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

</body>
<script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.0/js/amazeui.min.js"></script>
<script type="text/javascript" src="/javascripts/simditor-2.3.6/scripts/module.js"></script>
<script type="text/javascript" src="/javascripts/simditor-2.3.6/scripts/hotkeys.js"></script>
<script type="text/javascript" src="/javascripts/simditor-2.3.6/scripts/uploader.js"></script>
<script type="text/javascript" src="/javascripts/simditor-2.3.6/scripts/simditor.js"></script>
<script src="/javascripts/simditor-2.3.6/scripts/simditor.js"></script>
<script>
  $(function () {
    var descEditor = new Simditor({
      textarea: $('#description'),
      toolbar: [
        'title',
        'bold',
        'italic',
        'underline',
        'strikethrough',
        'fontScale',
        'ol',
        'ul'
      ]
    });
    $('.job-attraction .am-badge').on('click', function (e) {
      var attractionArr = $('#attraction').val() != '' ? $('#attraction').val().split(',') : [];
      var text = e.currentTarget.innerText;
      var val = $('#attraction').val();
      var index = val.indexOf(text);
      if (index == -1) {
        attractionArr.push(e.currentTarget.innerText);
        $(e.currentTarget).addClass('active');
      } else {
        for (var i = 0, len = attractionArr.length; i < len; i++) {
          if (attractionArr[i] == text) {
            attractionArr.splice(i, 1);
          }
        }
        $(e.currentTarget).removeClass('active');
      }
      $('#attraction').val(attractionArr.join(','));
    });

    $('#saveBtn').on('click', function (e) {
      var data = {
        jobTitle: $('#jobTitle').val(),    //jobtitles的id
        jobType: $('#jobType').val(),    //jobtitles的id
        industry: $('#industry').val(),    //industry的id
        minSalary: $('#minSalary').val(),         //最小薪水
        maxSalary: $('#maxSalary').val(),         //最大薪水
        city: $('#city').val(),           			 //期望城市
        degree: $('#degree').val(),	        	     //学历要求
        attraction: $('#attraction').val().split(','),         	 //职位诱惑
        description: descEditor.getValue()
      }
      if (data.jobTitle == '' || data.jobType == '' || data.minSalary == '' || data.city == '' || data.industry == '') {
        return;
      }
      $.ajax({
        method: 'post',
        url: '/admin/job',
        data: {
          job: data
        },
        success: function (res) {
          location.href = '/admin/waniuadmin';
        },
        error: function (err) {
          console.error(err);
        }
      });
    });
  });
</script>
</html>
