<!DOCTYPE html>
<html>
<head lang="zh">
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>企业合作 - 挖牛</title>
  <!--<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.0/css/amazeui.min.css">-->
  <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/header-footer-layout.css">
  <link rel="stylesheet" href="/stylesheets/biz-cooperation.css">
</head>
<body>
<div class="header">
  <% include header-layout %>
  <img class="header-background "
       src="/images/elebg.jpg" alt="背景" width="100%">

  <div class="am-container am-text-center">
    <a href="/" class="am-btn get-job">去找牛坑</a>
  </div>

  <!--<div class="header-content am-show-sm-down">-->
    <!--来挖牛找到你心仪的工作-->
  <!--</div>-->
  <!--<div class="am-container am-text-center am-show-sm-down">-->
    <!--<a href="/" class="am-btn am-btn-primary">去找牛坑</a>-->
  <!--</div>-->
</div>
<div class="container">
  <div class="am-container biz-list am-margin-top-lg am-margin-bottom-lg">
    <div class="am-g am-margin-bottom-sm" style="text-align:center">
      <img src="/images/elebrand.png"/ >
    </div>
  </div>
  <div class="module1">
    <div class="am-container">
      <div class="am-g">
        <div class="am-u-lg-7">
          <h1 class="am-margin-bottom-xl">WE MAKE GREAT TALENT MATCHES</h1>
          <p>
            We partner with clients and talent and take the time to make sure we’re connecting people who can help one another. Because we know that a great match goes beyond a keyword search.
          </p>
          
        </div>
        <div class="am-u-lg-5 am-text-center">
          <img src="/images/eleimg1.png" class="img1" alt="talent match">
        </div>
      </div>
    </div>
  </div>
  <div class="module2">
    <div class="am-container">
      <div class="am-g">
        <div class="am-u-lg-7 am-text-center">
          <img src="/images/eleimg2.png" alt="挖牛人才管理工具" class="img1">
        </div>
        <div class="am-u-lg-5">
          <h1 class="am-margin-bottom-xl">WE HOLD INTERVIEW LIKE THIS</h1>
          <span>Our Expert Interviewers can provide:</span>
          <ul>
            <li>Overview of skills based on in-depth review of code samples / portfolio</li>
            <li>Customized write-up covering depth and specifics about technical skills</li>
            <li>Recommendations on culture fit and communication style</li>
            <li>Insight on how well talent match a specific job description</li>
            <li>Assessment of talent’s ability and interest in continual learning to build skill</li>
            <li>sets and stay current with technology</li>
          </ul>

      
        </div>
      </div>
    </div>
  </div>
  
  <div class="module4">
    <div class="am-container">
      <div class="am-g">
        <div class="am-u-lg-6 am-text-left am-vertical-align am-margin-bottom-lg">
          <img src="http://7xw3ob.com1.z0.glb.clouddn.com/biz-cooperation_module5-1.png?imageView2/2/w/400" alt="挖牛人才管理工具"
               class="img1 am-vertical-align-middle">
        </div>
        <div class="am-u-lg-6 am-vertical-align">
          <div class=" am-vertical-align-middle">
            <h1>about ele-d</h1>
            <p>
              一个定位于互联网行业的技术人才垂直招聘平台, 以优质的互联网资源为源点, 为互联网
              求职者与企业创造并提供信息化、品质化、专业化的就业推荐服务。<br>我们是一个专注且专研
              的互联网人才服务团队,致力于提供中国互联网技术菁才的职业价值。
              目前我们的服务站点已包含: 杭州、北京、上海、广州、深圳、武汉、宁波。
            </p>
            <div style="position: relative">
              <img id="weixin" src="http://7xw3ob.com1.z0.glb.clouddn.com/biz-cooperation_wexinx2.png?imageView2/2/w/30/h/30"
                   class="am-margin-right-sm" alt="微信" width="30px">
              <!--<img src="http://7xw3ob.com1.z0.glb.clouddn.com/biz-cooperation_linkedinx2.png?imageView2/2/w/30/h/30" class="am-margin-right-sm"-->
                   <!--alt="领英" width="30px">-->
              <a href="http://weibo.com/313098882" target="_blank"><img
                  src="http://7xw3ob.com1.z0.glb.clouddn.com/biz-cooperation_weibox2.png?imageView2/2/w/30/h/30" class="am-margin-right-sm"
                  alt="微博" width="30px"></a>
              <a href="https://www.facebook.com/51waniu/" target="_blank"><img
                  src="http://7xw3ob.com1.z0.glb.clouddn.com/biz-cooperation_facebookx2.png?imageView2/2/w/30/h/30" class="am-margin-right-sm"
                  alt="脸书" width="30px"></a>
              <div id="weixinQC" class="am-hide">
                <img src="http://7xw3ob.com1.z0.glb.clouddn.com/biz-cooperation_weixinqc.jpg?imageView2/2/w/200/h/200" alt="微信二维码">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include footer-layout %>
</div>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="回到顶部">
    <span class="am-gotop-title">回到顶部</span>
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.0/js/amazeui.min.js"></script>
<!--<script src="/bower_components/jquery/dist/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/bower_components/amazeui/dist/js/amazeui.min.js"></script>-->
<script>
  $(function () {
    $('#weixin').on('mouseover', function (e) {
      $('#weixinQC').removeClass('am-hide').addClass('am-animation-scale-up');
    });
    $('#weixin').on('mouseout', function (e) {
      $('#weixinQC').addClass('am-hide').removeClass('am-animation-fade');
    });
  });
</script>
</html>
