<!DOCTYPE html>
<html>
<head lang="zh">
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>企业合作 - 挖牛</title>
  <!--<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.0/css/amazeui.min.css">-->
  <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/biz-cooperation.css">
</head>
<body>
<div class="header">
  <% include header-layout %>

  <div class="am-container am-show-sm-down am-text-center" style="margin-bottom: 40px;padding-top: 20px">
    <a href="/"><img src="/images/logo2.png" alt="logo" class="logo"></a>
  </div>
  <div class="header-content am-show-md-up">
    来挖牛找到你心仪的工作
  </div>
  <div class="am-container am-text-center">
    <button class="am-btn am-btn-primary">去找牛坑</button>
  </div>
</div>
<div class="container">
  <ul class="biz-list am-margin-bottom-xl"></ul>
  <div class="module1">
    <div class="am-container">
      <div class="am-g">
        <div class="am-u-lg-7">
          <h1 class="am-margin-bottom-xl">人才招聘服务生态链</h1>
          <p>
            我们专注4大互联网职系招聘服务。终端一体化招聘流程管理
          </p>
          <p>
            <span>后端</span> / JAVA C++ PHP <br>
            <span>前端 & 移动</span> / iOS Android Web <br>
            <span>设计</span> / UI UE 平面 <br>
            <span>产品 & 运营</span> / 产品经理 新媒体运营 数据分析
          </p>
        </div>
        <div class="am-u-lg-5">
          <img src="/images/biz-cooperation/module1-1x2.png" alt="人才招聘服务生态链" width="268px">
        </div>
      </div>
    </div>
  </div>
  <div class="module2">
    <div class="am-container">
      <div class="am-g">
        <div class="am-u-lg-7">
          <img src="/images/biz-cooperation/module2-1x2.png" alt="挖牛人才管理工具" width="334px">
        </div>
        <div class="am-u-lg-5">
          <h1 class="am-margin-bottom-xl">挖牛人才管理工具</h1>
          <p>
            互联网时代的人才管理工作不应该只停留在关注选才上, 这只是个开始。
          </p>
          <p>
            <a href="#">FOOLRANK <i class="am-icon-chevron-right am-margin-left-xs am-margin-bottom-sm"></i></a>
            <br>
            <a href="#">TTI SUCCESS INSIGHTS <i class="am-icon-chevron-right am-margin-left-xs"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="module3">
    <div class="am-container">
      <div class="am-g">
        <div class="am-u-lg-7">
          <h1 class="am-margin-bottom-xl">创业企业人才结构搭建服务</h1>
          <p>
            招募合伙人 - 组织结构 - 薪资体系 - 人才配置 - 人力资源共享服务
          </p>
        </div>
        <div class="am-u-lg-5">
          <img src="/images/biz-cooperation/module3-1x2.png" alt="创业企业人才结构搭建服务" width="334px">
        </div>
      </div>
    </div>
  </div>
  <div class="module4">
    <div class="am-container">
      <h1>关于挖牛速聘</h1>
      <p>
        一个定位于互联网行业的技术人才垂直招聘平台, 以优质的互联网资源为源点, 为互联网 <br>
        求职者与企业创造并提供信息化、品质化、专业化的就业推荐服务。我们是一个专注且专研 <br>
        的互联网人才服务团队,致力于提供中国互联网技术菁才的职业价值。 <br>
        目前我们的服务站点已包含: 杭州、北京、上海、广州、深圳、武汉、宁波。
      </p>
      <div>
        <img src="/images/biz-cooperation/wexinx2.png" class="am-margin-right-xs" alt="微信" width="40px">
        <img src="/images/biz-cooperation/linkedinx2.png" class="am-margin-right-xs" alt="领英" width="40px">
        <img src="/images/biz-cooperation/weibox2.png" class="am-margin-right-xs" alt="微博" width="40px">
        <img src="/images/biz-cooperation/facebookx2.png" class="am-margin-right-xs" alt="脸书" width="40px">
      </div>
    </div>
  </div>
  <div class="module5">
    <div class="am-container am-text-center">
      <div class="logo-bottom">
        <img src="/images/biz-cooperation/logoforbuttomx2.png" alt="waniu" width="65px">
      </div>
      <div class="am-g">
        <div class="am-u-lg-4">&copy;2016 51waniu Technology Co.Ltd.</div>
        <div class="am-u-lg-4 am-text-center">挖牛速聘科技有限公司</div>
        <div class="am-u-lg-4">service@51waniu.com</div>
      </div>
    </div>
  </div>
</div>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
  <a href="#top" title="回到顶部">
    <span class="am-gotop-title">回到顶部</span>
    <i class="am-gotop-icon am-icon-chevron-up"></i>
  </a>
</div>
</body>
<!--<script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.0/js/amazeui.min.js"></script>-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/amazeui/dist/js/amazeui.min.js"></script>
</html>
