<div class="footer">
  <div class="am-container am-text-center">
    <div class="logo-bottom">
      <img src="http://7xw3ob.com1.z0.glb.clouddn.com/logox2.png?imageView2/1/w/65/h/65" alt="waniu" width="65px">
    </div>
    <div class="am-g am-margin-bottom-sm">
      <div class="am-u-lg-12 am-text-center">宁波汇丰人才服务有限公司</div>
    </div>
    <div class="am-g am-margin-bottom-sm">
      <div class="am-u-lg-12 am-text-center">杭州市西湖区天目山路248号华鸿大厦B座6楼84室</div>
    </div>
    <div class="am-g am-margin-bottom-xl">
      <div class="am-u-lg-6 am-text-right">0571-58110052</div>
      <div class="am-u-lg-6 am-text-left">service@51waniu.com</div>
    </div>
    <div class="am-g">
      <div class="am-u-lg-12 am-text-center">&copy;2016 51waniu Technology Co.Ltd.</div>
    </div>
  </div>
</div>
