<div class="footer">
  <div class="am-container am-text-center">
    <div class="logo-bottom">
      <img src="http://7xw3ob.com1.z0.glb.clouddn.com/biz-cooperation_logoforbuttomx2.png" alt="waniu" width="65px">
    </div>
    <div class="am-g am-margin-bottom-sm">
      <div class="am-u-lg-4">&copy;2016 51waniu Technology Co.Ltd.</div>
      <div class="am-u-lg-4 am-text-center">宁波汇丰人力有限公司</div>
      <div class="am-u-lg-4">service@51waniu.com</div>
    </div>
    <div class="am-g">
      <div class="am-u-lg-4">联系我们: 0571-58110052</div>
      <div class="am-u-lg-4"></div>
      <div class="am-u-lg-4"></div>
    </div>
  </div>
</div>
