<div class="footer">
  <div class="am-container am-text-center">
    <div class="logo-bottom">
      <img src="/images/eled_white_logo.png" alt="waniu" width="65px">
    </div>
    <div class="am-g am-margin-bottom-sm">
      <div class="am-u-lg-12 am-text-center">宁波汇丰人才服务有限公司</div>
    </div>
   
    <div class="am-g am-margin-bottom-xl">
      <div class="am-u-lg-12 am-text-center">+86 021 56057683 / 0571 58081037 上海 杭州 宁波
</div>
    </div>
    <div class="am-g">
      <div class="am-u-lg-12 am-text-center">@2018 element-d consulting Co.Ltd</div>
    </div>
  </div>
</div>
