<!DOCTYPE html>
<html>
<head lang="zh">
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui"/>
  <title>挖牛</title>
  <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body style="height: 10000px">
<div class="header">
  <header class="am-topbar am-topbar-inverse">
    <div class="am-container">
      <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse-2">
        <ul class="am-nav am-nav-pills am-topbar-nav">
          <li class="topbar-title">
            <a href="/">
              <img src="/images/logo2.png" alt="logo">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <img class="header-background" src="/images/header_background.jpg" alt="背景">
  <div class="header-content">
    <i class="am-icon-search mr10"></i>
    来牛坑找到你心仪的工作
  </div>
  <div class="am-g">
    <div class="am-u-md-6 am-u-md-offset-3">
      <input type="text" class="am-form-field am-round" placeholder="职位描述,地点等"/>
    </div>
  </div>
</div>
<div class="container am-container">
  <div class="container-header">
    <img src="/images/hot2x.png" alt="hot">
    <span>热气牛坑</span>
  </div>
  <ul class="container-sort am-cf">
    <li class="active">最新</li>
    <li>热门</li>
  </ul>
  <div class="content">
    <div class="content-item">
      <div class="content-item-title">
        移动产品经理
        <span class="content-item-title-right">占坑</span>
        <img class="content-item-title-apply" src="/images/zhankeng.jpg" alt="占坑">
      </div>
      <div class="content-item-tag">
        <ul class="am-cf">
          <li>10k-20k</li>
          <li>本科</li>
          <li>上海</li>
        </ul>
        <div>
          职位诱惑:&nbsp;妹子多,福利好,扁平管理
        </div>
      </div>
      <div class="content-item-desc">
        工作职责
      </div>
    </div>
  </div>
</div>
</body>
</html>
