
html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  font-family: "Microsoft YaHei", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif !important;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  height: 100%;
  background: #F2F2F2;
  color: #333;
}

.am-btn-primary {
  background-color: #FDC72E !important;
  border-color: #FDC72E !important;
}

.am-btn-primary:focus, .am-btn-primary:hover {
  background-color: #FDC72E !important;
  border-color: #FDC72E !important;
}

.am-btn-primary:active {
  background-color: #FDC72E !important;
  border-color: #FDC72E !important;
}

.am-topbar-inverse .am-topbar-nav > li > a:after {
  border-bottom-color: #FDC72E;
}

.am-topbar-inverse .am-topbar-nav > li > a:focus:after, .am-topbar-inverse .am-topbar-nav > li > a:hover:after {
  border-bottom-color: #FDC72E !important;
}

.w300 {
  width: 300px;
}

.h300 {
  height: 300px;
}

.mr10 {
  margin-right: 10px;
}

.am-btn:focus {
  outline-color: #FDC72E !important;
}

.am-topbar-inverse .am-topbar-nav > li.am-active > a, .am-topbar-inverse .am-topbar-nav > li.am-active > a:focus, .am-topbar-inverse .am-topbar-nav > li.am-active > a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 641px){
  .am-topbar-nav > li > a:after {
    position: absolute;
    left: 0;
    right:0;
    margin-left: 0;
    bottom: -1px;
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    vertical-align: middle;
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-top: 3px solid #fff;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 0;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
  }
}

