body {
  background-color: #fff;
  font-family: "PingFang SC";
}

.header {
  padding-bottom: 30px;
  background: url("/images/biz-cooperation/bg/header-pc.jpg") no-repeat;
  height: 600px;
  background-size: cover;
}

@media (max-width: 640px) {
  .header {
    padding-bottom: 30px;
    background: url("/images/biz-cooperation/bg/header-mobile.jpg") no-repeat;
    height: 550px;
    background-size: cover;
  }
}

.am-topbar {
  background-color: #FDC72E;
  border-color: #FDC72E;
  border-radius: 0;
}

.am-topbar .navbar-brand {
  margin-left: 200px;
}

.am-topbar .logo {
  width: 60px;
}

.am-topbar .header-title {
  color: #FECF2D;
  font-size: 1.8rem;
}

.am-topbar .topbar-title {
  position: relative;
  line-height: 50px;
  padding: 0 10px;
}

.am-topbar-inverse .am-topbar-nav > li > a {
  color: #fff;
}

.am-topbar-inverse .am-topbar-nav > li img {
  height: 30px;
}

.header .header-content {
  color: #fff;
  font-size: 40px;
  /* font-weight: bold; */
  text-align: center;
  margin-bottom: 40px;
  margin-top: 200px;
}

.header .am-form-field {
  border: 1px solid #FDC72E;
  padding-left: 20px;
}

.header .header-background {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.header .am-btn-primary {
  border-radius: 20px;
  font-size: 14px;
  padding: 10px 40px;
}

.header .logo {
  height: 25px;
  width: auto;
}

.am-gotop-fixed .am-gotop-icon {
  background-color: #FECF2D;
  color: #fff;
}

.biz-list img {
  max-width: 100px;
}

.biz-list .am-u-lg-2 {
  height: 100px;
  text-align: center;
}

.module1, .module2, .module3, .module4 {
  background-color: #F7F7F7;
  color: #8a8a8a;
  height: 500px;
  /*padding: 100px 0;*/
}

.module1 {
  padding-top: 120px;
}

.module1 .img1 {
  width: 268px;
}

.module1 h1, .module2 h1, .module3 h1 {
  color: #4a4a4a;
  font-size: 30px;
  font-weight: 400;
}

.module1 p, .module2 p, .module3 p {
  font-size: 16px;
  margin-bottom: 25px;
}

.module1 p > span {
  font-weight: bold;
}

.module2 {
  background-color: #fff;
  padding-top: 130px;
}

.module2 .img1 {
  width: 334px;
}

.module2 p > a {
  background-color: #888;
  color: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 12px;
}

.module3 {
  padding-top: 160px;
}

.module3 .img1 {
  width: 334px;
}

.module4 {
  height: 500px;
  color: #fff;
  padding-top: 93px;
  background: url("/images/biz-cooperation/bg/module4-pc.jpg") no-repeat;
  background-size: cover;
}

.module4 h1 {
  font-size: 30px;
  font-weight: 400;
}

.module4 p {
  margin-bottom: 55px;
}


@media (max-width: 640px) {

  .module1, .module2, .module3, .module4 {
    background-color: #F7F7F7;
    color: #8a8a8a;
    height: auto;
    /*padding-top: 65px;*/
    /*padding-bottom: 65px;*/
    padding: 65px 20px;
  }

  .module1 h1, .module2 h1, .module3 h1 {
    color: #464646;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
  }

  .module1 p, .module2 p, .module3 p {
    font-size: 13px;
    margin-bottom: 25px;
  }

  .module1 .img1 {
    width: 208px;
  }

  .module1 p > span {
    font-weight: bold;
  }

  .module2 {
    background-color: #fff;
    /*padding-top: 65px;*/
  }

  .module2 .img1 {
    width: 259px;
  }

  .module2 p > a {
    background-color: #888;
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
  }

  .module3 {
    /*padding-top: 160px;*/
  }

  .module3 .img1 {
    width: 259px;
  }

  .module4 {
    color: #fff;
    background: url("/images/biz-cooperation/bg/module4-mobile.jpg") no-repeat;
    background-size: cover;
  }

  .module4 h1 {
    font-size: 30px;
    font-weight: 400;
  }

  .module4 p {
    margin-bottom: 60px;
  }
}
